/* Externos */
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
/* Misc */
primary {
  color: #E574BC; }

secondary {
  color: #FFD6BA; }

text-color {
  color: #FFD6BA; }

/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%; }

a {
  text-decoration: none;
  font-family: 'Koulen', cursive; }

/* Partials */
/* Estilo de header */
body {
  font-family: 'Koulen', cursive;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

header {
  display: flex;
  justify-content: center;
  align-items: center; }
  header picture {
    flex-basis: 50%; }

nav ul {
  display: flex;
  gap: 1.5rem;
  font-size: 1.2em;
  font-family: 'Koulen', cursive;
  justify-content: center;
  list-style: none;
  list-style-position: none; }

.navbar {
  color: #FD5ED5;
  border-style: dashed;
  border-color: #FFD6BA; }

.logo {
  flex-basis: 8%;
  display: flex; }

.footer {
  color: #E574BC;
  font-family: 'Koulen', cursive;
  background-color: #FFD6BA;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px; }

/* Pages */
/*  Estilo de COMO COMPRAR */
.comocomprar {
  padding: 1rem; }

.titcomocomprar {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 3rem;
  color: #E574BC;
  background-color: #FFD6BA;
  font-family: 'Koulen', cursive; }

.descripcioncc {
  color: #E574BC;
  font-family: 'Koulen', cursive;
  font-size: x-large;
  text-align: center;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 50px; }

.cajascc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  padding: 80px;
  background-color: #FFD6BA; }

.titpago {
  font-family: 'Koulen', cursive;
  color: #E574BC; }

.titenvio {
  font-family: 'Koulen', cursive;
  color: #E574BC; }

.comprar1 {
  font-family: 'Koulen', cursive;
  color: #E574BC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  padding: 20px;
  width: 100%; }

.comprar2 {
  font-family: 'Koulen', cursive;
  color: #E574BC;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 20px;
  width: 100%; }

.gif1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0; }

.gif {
  width: 500px;
  height: 480px; }

/*    MEDIA QUERIES 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .cajas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cajascc {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* FIN MEDIA QUERIES 480px */
/*  MEDIA QUERIES 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .cajas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cajascc {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*  FIN MEDIA QUERIES 728px */
/*   Estilo de CONTACTO */
.Contactanos {
  padding: 1rem; }

.titcontactanos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: #E574BC;
  background-color: #FFD6BA;
  font-family: 'Koulen', cursive; }

.formcontacto {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 55px;
  font-family: 'Koulen', cursive; }

.formcontacto1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  background-color: #FFD6BA;
  font-family: 'Koulen', cursive;
  color: #E574BC; }

.formcontacto2 {
  display: flex;
  text-align: center;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  background-color: #FFD6BA;
  font-family: 'Koulen', cursive;
  color: #E574BC; }

.formcontacto3 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large; }

/*   Fin de estilo de CONTACTO */
/*    MEDIA QUERIES 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .formcontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
  .formcontacto2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large; }
  .formcontacto3 {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* FIN MEDIA QUERIES 480px */
/*  MEDIA QUERIES 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .formcontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem; }
  .formcontacto3 {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* Estilo de Home */
.box_img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem; }

.productos {
  padding: 1rem; }

.productos2, .productos2--active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #FFD6BA;
  font-size: x-large;
  font-family: 'Koulen', cursive; }

.productos2--active {
  color: #E574BC; }

.productos3 {
  font-family: 'Koulen', cursive;
  color: #E574BC;
  text-align: center;
  border-style: dashed;
  border-color: #FFD6BA; }

.imgproductos {
  display: grid;
  grid-template-columns: 2fr, 1fr, 1fr, 2fr;
  align-items: center;
  gap: 10px;
  padding: 1rem; }

.img1:hover {
  transform: scale(1.1, 1.1); }

.img1 {
  grid-column: 1;
  background-size: cover;
  transition: all 2s linear; }

.img2 {
  grid-column: 2;
  background-size: cover;
  transition: all 2s linear; }

.img2:hover {
  transform: scale(1.1, 1.1); }

.img3 {
  grid-column: 3;
  background-size: cover;
  transition: all 2s linear; }

.img3:hover {
  transform: scale(1.1, 1.1); }

.img4 {
  grid-column: 4;
  background-size: cover;
  transition: all 2s linear; }

.img4:hover {
  transform: scale(1.1, 1.1); }

.img5 {
  grid-column: 5;
  background-size: cover;
  transition: all 2s linear; }

.img5:hover {
  transform: scale(1.1, 1.1); }

.imgproductos2 {
  display: grid;
  grid-template-columns: 2fr, 1fr, 1fr, 2fr;
  align-items: center;
  gap: 10px;
  padding: 1rem; }

.img6 {
  grid-column: 2;
  background-size: cover;
  transition: all 2s linear; }

.img6:hover {
  transform: scale(1.1, 1.1); }

.img7 {
  grid-column: 4;
  background-size: cover;
  transition: all 2s linear; }

.img7:hover {
  transform: scale(1.1, 1.1); }

.texto1 {
  grid-column: 3;
  align-items: center; }

.sobrenosotras2 {
  color: #E574BC;
  font-family: 'Koulen', cursive;
  padding: 8%;
  font-size: x-large;
  text-align: center; }

.sobrenosotras3 {
  color: #FFD6BA;
  padding: 5%;
  font-family: 'Koulen', cursive;
  text-align: center;
  padding: 3rem; }

.sobrenosotras4 {
  color: #E574BC;
  font-family: 'Koulen', cursive;
  text-align: center; }

.sobrenosotras5 {
  color: #E574BC;
  font-family: 'Koulen', cursive;
  text-align: center;
  font-size: x-large;
  padding: 4rem; }

/*    MEDIA QUERIES 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
  .imgproductos {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .imgproductos2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .img6 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .img7 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sobrenosotras2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sobrenosotras3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sobrenosotras4 {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* FIN MEDIA QUERIES 480px */
/*  MEDIA QUERIES 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .productos {
    width: 100%;
    height: 20rem; }
  .imgproductos {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .imgproductos2 {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*  FIN MEDIA QUERIES 728px */
/*  Estilo de NOSOTRAS */
.nosotras {
  padding: 1rem; }

.titnosotras {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: #E574BC;
  background-color: #FFD6BA;
  font-family: 'Koulen', cursive; }

.sobrenosotras {
  color: #FFD6BA;
  font-family: 'Koulen', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  text-align: center;
  color: #E574BC; }

.imgnosotras {
  display: flex;
  justify-content: center;
  padding: 1.5rem; }

.imgnosotras2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 35rem; }

/*    MEDIA QUERIES 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .imgproductos1 {
    width: 100%;
    height: 20rem; }
  .cajas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeriaproductos {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .formcontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem; }
  .formcontacto3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cajascc {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* FIN MEDIA QUERIES 480px */
/*  MEDIA QUERIES 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .imgproductos1 {
    width: 100%;
    height: 20rem; }
  .cajas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .galeriaproductos {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .formcontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem; }
  .formcontacto3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cajascc {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/*  FIN MEDIA QUERIES 728px */
/* Estilo de PRODUCTOS */
.galeriaproductos {
  display: grid;
  grid-template-columns: 2fr, 1fr, 1fr, 2fr;
  grid-template-rows: repeat(2, 300px);
  align-items: center;
  gap: 10px;
  padding: 1rem; }

.galeria1:hover {
  transform: scale(1.1, 1.1); }

.galeria1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-size: cover;
  transition: all 2s linear; }

.galeria2:hover {
  transform: scale(1.1, 1.1); }

.galeria2 {
  grid-column: 1 / 3;
  grid-row: 2;
  background-size: cover;
  transition: all 2s linear; }

.galeria3:hover {
  transform: scale(1.1, 1.1); }

.galeria3 {
  grid-column: 3 / 4;
  grid-row: 2;
  background-size: cover;
  transition: all 2s linear; }

.galeria4:hover {
  transform: scale(1.1, 1.1); }

.galeria4 {
  grid-column: 3 / 4;
  grid-row: 1;
  background-size: cover;
  transition: all 2s linear; }

.galeria5:hover {
  transform: scale(1.1, 1.1); }

.galeria5 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  background-size: cover;
  transition: all 2s linear; }

.productos {
  padding: 1rem; }

.productos2, .productos2--active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #FFD6BA;
  font-size: x-large;
  font-family: 'Koulen', cursive; }

.productos2--active {
  color: #E574BC; }

/*    MEDIA QUERIES 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .imgproductos1 {
    width: 100%;
    height: 20rem; }
  .galeriaproductos {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* FIN MEDIA QUERIES 480px */
/*  MEDIA QUERIES 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .imgproductos1 {
    width: 100%;
    height: 20rem; }
  .galeriaproductos {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.w-100 {
  width: 90%; }

/*  FIN MEDIA QUERIES 728px */
