
.footer{
    color: #E574BC;
    font-family: 'Koulen', cursive;
    background-color: #FFD6BA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    
}