/* Estilo de header */

body{
    font-family: 'Koulen', cursive;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;


}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    

    & picture{
        flex-basis: 50%;
    }
}



nav ul{

    display: flex;
    gap: 1.5rem;
    font-size: 1.2em;
    font-family: 'Koulen', cursive;
    list-style: none;
    list-style-type: none;
    justify-content:center;


}

.logo{
    flex-basis: 8%;
    display: flex;

}
