/*  Estilo de COMO COMPRAR */

.comocomprar{
    padding: 1rem;

}
.titcomocomprar{
    @include flex(center,center, center, 0);
    height: 3rem;
    color: #E574BC;
    background-color:#FFD6BA;
    font-family: 'Koulen', cursive;

}

.descripcioncc{
    color: #FFD6BA;
    font-family: 'Koulen', cursive;
    text-align: center;
    @include flex(center,center, center, 0);
    padding: 50px;
}
.cajascc{
    @include flex(row,space-evenly, center, 0);
    padding: 100px;


}

.titpago{
    font-family: 'Koulen', cursive;
    color: #FFD6BA;
}
.titenvio{
    font-family: 'Koulen', cursive;
    color: #FFD6BA;
}

.comprar1{
    font-family: 'Koulen', cursive;
    color: #E574BC;
    background-color: #FFD6BA;
    @include flex(column,space-between, flex-start, 0);
    padding: 20px;
    width: 100%;
}

.comprar2{
    font-family: 'Koulen', cursive;
    color: #E574BC;
    background-color: #FFD6BA;
    height: 100px;
    @include flex(column,center, center, 0);
    padding: 20px;
    width: 100%;
    
}

/*    MEDIA QUERIES 480px */
@media screen and (max-width: 480px) {


    body{
        display: flex;
        flex-direction: column;
    }
    
    header{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        align-items: center;
    }

   
    .cajas{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .cajascc{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    }
    
    /* FIN MEDIA QUERIES 480px */
    
    /*  MEDIA QUERIES 728px */
    
    @media screen and (max-width: 728px){
    
    body{
        display: flex;
        flex-direction: column;
    }
    
    header{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        align-items: center;
    }
    .cajas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cajascc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    }
    
    /*  FIN MEDIA QUERIES 728px */
    